body {
	background-color: black;
	color: rgba(200, 200, 200, 0.9);
}
#center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	animation: bgAnimation 5s ease-in-out;
	animation-iteration-count: infinite;
}
#title {
	font-size: 10em;
	font-family: Bold;
	text-shadow: 0px 0px 20px rgba(200, 200, 200, 0.7);
}
#subTitle {
	font-size: 3em;
	font-family: Title2;
}
#credit {
	font-family: Light;
	position: fixed;
	bottom: 16px;
	left: 16px;
	opacity: 0.5;
}
#bgvid {
	position: fixed;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
	opacity: 0.3;
	filter: blur(6px);
}
@keyframes bgAnimation {
	0%   { filter: blur(0px) opacity(1); }
	50%  { filter: blur(2px) opacity(0.7); }
	100% { filter: blur(0px) opacity(1); }
}