#content {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    input {
        width: 100%;
        border-radius: 8px;
        border: 0;
    }

    input[type="text"] {
        background-color: rgba(0, 0, 0, 0.2);
        color: #f0f0f0;
        padding: 12px;
        box-sizing: border-box;
    }

    input[type="button"] {
        padding: 12px 24px;
        color: #f5f5f5;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    input[type="button"]:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 100ms ease-in-out;
    }
}

#game {
    display: flex;
    flex-direction: column;
    width: 100%;

    #score-title {
        font-size: 1.2em;
    }

    #score-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: monospace;
        font-size: 1.1em;
        user-select: none;

        .wrong {
            color: red;
        }

        .good {
            color: green;
        }

        .perfect {
            color: gold;
        }
    }

    h3 {
        text-align: center;
    }

    label {
        font-size: 1.2em;
        position: relative;
        width: 0;
    }

    label, audio, input[type="button"] {
        margin-top: 1em;
    }
}

#playlists {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}