body {
	background-color: rgb(0, 0, 0);
	color: rgb(0, 255, 0);
	font-family: monospace;
	font-size: 1.2em;
}

a {
	color: rgb(0, 255, 0);
}

table {
	text-align: left;
}

td {
	padding: 2px;
	padding-right: 24px;
}

img {
	display: none;
}

.fileSize {
	text-align: end;
}