/* Elements */

body {
	background-color: #000000;
	color: #eeeeee;
	font-family: sans-serif;
}

#background {
	position: fixed;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	background-size: cover;
	background-position: center center;
	opacity: 0.8;
	filter: blur(4px);
}

/* Divs */
#content {
	position: fixed;
	width: 80%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#content p {
	margin-top: 0;
}

#tabs {
	list-style-type: none;
	padding: 8px;
}

#tabs li {
	display: inline-block;
	border-bottom: #b0bec5 1px solid;
	margin: 0 4px 0 4px;
	text-align: center;
	user-select: none;
	padding: 2px;
}

#tabs a {
	text-decoration: none;
	color: #cfd8dc;
	padding: 4px;
}

#debug {
	position: fixed;
	left: 16px;
	bottom: 16px;
	color: rgba(200, 200, 200, 0.4);
}

#browser {
	font-size: 0.9em;
	position: fixed;
	color: rgb(200, 200, 200);
	opacity: 0.6;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, 0);
}

#changelog, #browserInfo {
	font-size: 0.9em;
	position: fixed;
	color: rgba(200, 200, 200, 0.4);
	top: 2%;
	right: 0;
	transform: translate(100%, 0);
	transition: 0.5s ease-in-out;
}

#changelog {
	height: 85%;
	overflow-y: auto;
	padding: 16px;
	margin: 0;
	max-width: 20%;
}

#changelog p {
	text-align: center;
	margin-top: 32px;
	cursor: pointer;
}

#changelog #olderChanges {
	display: none;
}

#browserInfo {
	left: 50%;
	top: 0;
	transform: translate(-50%, -150%);
	text-align: center;
	transition: 0.4s ease-in-out;
}

#links {
	position: fixed;
	bottom: 2%;
	right: 2%;
	border-spacing: 8px;
	opacity: 0.7;
}

#links div {
	height: 42px;
	width: 42px;
}

#links #linkGithub {
	background-image: url("/img/icon/github.svg");
}

#links #linkTwitter {
	background-image: url("/img/icon/twitter.svg");
}

#links #linkSteam {
	background-image: url("/img/icon/steam.svg");
}

#links #linkTelegram {
	background-image: url("/img/icon/telegram.svg");
}

/* Classes */

.warning {
	width: 512px;
	padding: 8px;
	text-align: center;
	background-color: rgba(250, 10, 10, 0.6);
	border-radius: 0 0 8px 8px;
	border: 2px solid black;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: none;
}

/* Other */

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 5px;
}

::selection {
	color: rgba(200, 200, 200, 0.8);
	background: rgba(20, 20, 20, 0.7);
}