{{ define "partials/footer" }}
	<script defer src="{{ static "/js/spotlight.js" }}"></script>
    {{ if .scripts }}
        {{ range .scripts }}
			<script defer src="/js/{{ . }}.js"></script>
        {{ end }}
    {{ end}}
	</body>
	</html>
{{ end }}