{{ define "layout/begin" }}
    <div id="layout">
        <div id="menu">
            <img src="{{ static "/img/logo.webp" }}" alt="logo"/>
            {{ range .items }}
                <a href="/{{ .Key }}">
                    {{ template "icons/list-ul" }}
                    <span>{{ .Value }}</span>
                </a>
            {{ end }}
        </div>
        <div id="content">
{{ end }}