<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hitster</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/hitster.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div id="background"></div>

<div id="content">
    <div id="setup">
        <h3>Select playlist</h3>
        <div id="playlists">
            {{range .playlists}}
                <input type="button" data-playlist-id="{{.Id}}" value="{{.Name}}">
            {{end}}
        </div>
    </div>

    <div id="game" style="display: none">
        <h3>Guess the year!</h3>

        <span id="score-title">Score</span>
        <div id="score-container"></div>

        <audio id="audio-preview" controls></audio>
        <label id="year-label" for="year">2000</label>
        <input id="year" type="range" min="{{.minDate.Year}}" max="{{.maxDate.Year}}" value="2000">

        <input id="guess" type="button" value="Guess!">
    </div>
</div>

<script src="/js/main.js"></script>
<script src="/js/hitster.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => new Hitster())
</script>

</body>
</html>